<html>
  <head>
    <title>Video calls</title>
    <link rel="stylesheet" href="/w3.css"/>
  </head>
  <body>
    <h1 class="w3-center w3-jumbo">Video calls</h1>
    <form class="w3-margin w3-border w3-border-gray w3-padding" style="display:flex;justify-items:center;gap:2rem;align-items:center" action="/room" method="POST">
      <input class="w3-input w3-border w3-border-gray" placeholder="Room ID" name="roomid"/>
      <button class="w3-button w3-blue w3-hover-blue" type="submit">Join / Create room</button>
    </form>
  </body>
</html>